a:link,
a:visited .active-link {
  background-color: #ee5a5a;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(128, 56, 56);
}

.router-link-active {
  color: #000;
  background-color: rgb(177, 59, 59);
  font-weight: bold;
}

body {
  background-color: #dd7c87;
}
